@font-face {
  font-family: "Playfair Display";
  src: url("./vendor/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./vendor/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./vendor/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-style: Italic;
}
